.settings-form-label-col {
    text-align: left;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.settings-form-input-col {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.settings-form-input {
    text-align: left;
}
